.popup__close-button {
  position: absolute;
  width: 32px;
  bottom: calc(100% + 8px);
  left: calc(100% + 8px);
}

@media screen and (max-width: 700px) {
  .popup__close-button {
    width: 20px;
    left: calc(100% - 20px);
    bottom: calc(100% + 16px);
  }
}